body{
    background-image: url(/images/bg.jpg);
    display: flex;
    justify-content: center;
    padding: 5vw;
}

#container{
    background: white;
    border-radius: 50px;
}

#cards{
    display: grid;
    padding:  50px;
    grid-template-columns: repeat(4, 240px);
    gap: 20px;
    justify-content: space-between;
}

.card{
    padding: 20px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}