body{
    background-color: lightyellow;
    display: flex;
    justify-content: center;
    margin: 0px;
    align-items: center;

    /*ceter vertically and horizontally next time*/
}

#container{
    background: white;
    border-radius: 50px;
    padding: 50px;
}

#scoreboard{
    font-size: 50px;
}
#cards{
    display: grid;
    grid-template-columns: repeat(4, 240px);
    gap: 20px;
    justify-content: space-between;
}

.card{
    padding: 20px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

#bottom{
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}

#reset-button{
    width: 100px;
    font-size: 30px;
}

/*All the card images and stuff*/
#c1{
    background-image: url("/images/sand.jpg");
}
#c2{
    background-image: url("/images/sand.jpg");
}
#c3{
    background-image: url("/images/sand.jpg");

}
#c4{
    background-image: url("/images/sand.jpg");

}
#c5{
    background-image: url("/images/sand.jpg");

}
#c6{
    background-image: url("/images/sand.jpg");

}
#c7{
    background-image: url("/images/sand.jpg");

}
#c8{
    background-image: url("/images/sand.jpg");

}
#c9{
    background-image: url("/images/sand.jpg");

}
#c10{
    background-image: url("/images/sand.jpg");

}
#c11{
    background-image: url("/images/sand.jpg");

}
#c12{
    background-image: url("/images/sand.jpg");

}
#c13{
    background-image: url("/images/sand.jpg");

}
#c14{
    background-image: url("/images/sand.jpg");

}
#c15{
    background-image: url("/images/sand.jpg");

}
#c16{
    background-image: url("/images/sand.jpg");

}